
<div class="container mt-3">
    <div class="row alert alert-success">
        <div class="">
            <a href="/api/perfil" ><img src="../imagen/{{foto}}" class="rounded-circle" height="50" width="50"></a>
            <h6>ir a perfil</h6>
        </div>
        <div class="">
            <h1 class="col-12">Bienvenido, {{nombre}}</h1>
        </div>
        <div class="">
        <button class="col-12 btn btn-warning mt-4" method='post' onclick="location.href='/api/logout'">Desloguear</button>
        </div>
    </div>
</div>
